* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Drupadi";
  src: url("../public/fonts/Drupadi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodecPro";
  src: url("../public/fonts/CodecPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.app {
  height: 100vh;
  width: 100%;
}

.viewer-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgb(129, 186, 179);
  position: relative;
}

#cesiumContainer {
  width: 100%;
  height: 100%;
}

.topnav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 72px;
  flex-shrink: 0;
  background: linear-gradient(
    90deg,
    rgba(29, 32, 32, 0.9) 0%,
    rgba(107, 139, 126, 0.4) 100%
  );
  display: flex;
  align-items: center;
  padding: 0 4rem;
}

.logo {
  font-family: "Drupadi", sans-serif;
}

.gradient {
  background: linear-gradient(90deg, #02d6d2 0%, #01adcc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white {
  color: white;
}

/* Sidebar Wrapper */
.sidebar {
  display: inline-flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  background: linear-gradient(
    181deg,
    rgba(211, 211, 211, 0.384) 1.15%,
    rgba(115, 115, 115, 0) 98.91%
  );
  backdrop-filter: blur(25px);
  font-family: "CodecPro", sans-serif;
  position: fixed;
  top: 160px;
  left: 0;
  width: 250px;
  z-index: 999;
  left: 4rem;
}

/* Sidebar Inner Content */
.sidebar-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Section */
.sidebar-section {
  padding: 16px 0;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-section.no-border {
  border-bottom: none;
}

/* Titles */
.section-title {
  color: white;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

/* Functional Slider */
.slider-input {
  width: 100%;
  height: 6px;
  appearance: none;
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #01c9d0 0%,
    #01c9d0 0%,
    /* filled portion */ #01c9d04d 0%,
    /* darker unfilled portion */ #01c9d04d 100%
  );
  border-radius: 5px;
  outline: none;
}

.slider-input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.slider-input::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

/* Dropdown */
.dropdown-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: #fff;
  color: black;
  outline: none;
  font-size: 14px;
  font-family: "CodecPro", sans-serif;
}

.toggleHeatmap{
  background: #01c9d0;
  padding: 0.5rem;
  border-radius:0.5rem;
  color: #fff;
}